<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- HRM API Configuration - Set by developers before building -->
    <!-- This URL cannot be changed by the operator and must be hardcoded to prevent accidental misconfiguration -->
    <add key="HrmApiBaseUrl" value="http://our-hrm-server.com" />
    
    <!-- Default sync interval in milliseconds -->
    <add key="SyncIntervalMs" value="60000" />
    
    <!-- Default dashboard port -->
    <add key="DashboardPort" value="8080" />
  </appSettings>
</configuration>
